@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
}

#grid-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

#grid-container #desktop-header {
  display: none;
}

#grid-container #mobile-header {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: -12vh;
  min-height: 10vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr (3fr)[2];
      grid-template-columns: 2fr 4fr repeat(2, 3fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

#grid-container #mobile-header a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Helvetica;
}

#grid-container #mobile-header #OkotoksLogo {
  height: 10vh;
}

#grid-container #mobile-header #Order-online {
  font-size: 1.5rem;
  font-family: Helvetica;
  border-style: solid;
  border: 1rem;
  border-color: #b96a03;
  color: #fff;
  background-color: #F18701;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  padding: 0.2rem 0.4rem;
  border-radius: 18%;
  overflow: hidden;
  text-decoration: none;
  -webkit-box-shadow: 2px 3px #b96a03;
          box-shadow: 2px 3px #b96a03;
  text-shadow: 2px 2px  #b96a03;
  margin: 3px 0px;
}

#grid-container #mobile-header #Order-online:hover {
  background-color: #D80032;
  color: black;
}

#grid-container #mobile-header #mobile-hamburger-menu #mobile-menu-checkbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 4;
}

#grid-container #mobile-header #mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-header-menu {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#grid-container #mobile-header #mobile-hamburger-menu #mobile-hamburger-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  z-index: 3;
  position: relative;
}

#grid-container #mobile-header #mobile-hamburger-menu #mobile-hamburger-container .mobile-hamburger-line {
  width: 30px;
  height: 4px;
  background-color: #F18701;
}

#grid-container #mobile-header #mobile-hamburger-menu #mobile-header-menu {
  position: absolute;
  width: 100%;
  background-color: #f39a26;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -40vh;
  left: 0;
  opacity: 0;
  min-height: 40vh;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#grid-container #mobile-header #mobile-hamburger-menu #mobile-header-menu a {
  color: #fff;
  text-decoration: none;
  font-family: Helvetica;
  font-weight: bold;
  text-shadow: 2px 2px  #b96a03;
  cursor: pointer;
}

#grid-container #meatza-menu {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

#grid-container #meatza-menu .menu-container {
  display: -ms-grid;
  display: grid;
  width: 90%;
  -ms-grid-rows: 3fr 1fr 1fr 2fr 1fr;
      grid-template-rows: 3fr 1fr 1fr 2fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% 5%;
  font-family: Helvetica;
  -webkit-box-shadow: 2px 3px 5px #b96a03;
          box-shadow: 2px 3px 5px #b96a03;
}

#grid-container #meatza-menu .menu-container img {
  width: 100%;
}

#grid-container #meatza-menu .menu-container p {
  text-align: left;
  padding: 0% 4.2%;
}

#grid-container #meatza-menu .menu-container #customize-addtoorder a {
  font-size: 1.5rem;
  border-radius: 5%;
  font-family: Helvetica;
  color: white;
  background-color: #F18701;
  border-color: #b96a03;
  -webkit-box-shadow: 2px 3px 5px #b96a03;
          box-shadow: 2px 3px 5px #b96a03;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#grid-container #meatza-menu .menu-container #customize-addtoorder a:hover {
  background-color: green;
  color: black;
}

#grid-container #meatza-menu .menu-container a {
  text-decoration: none;
  color: #F18701;
}

#grid-container #meatza-menu .menu-container #card-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#grid-container #meatza-menu .menu-container #card-data #plusminus {
  font-size: 1.9rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grid-container #meatza-menu .menu-container #menu-button-price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#grid-container #meatza-menu .menu-container #menu-button-price #menu-radio {
  display: -ms-grid;
  display: grid;
}

#grid-container #meatza-menu .menu-container #menu-button-price #menu-radio .radio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

#grid-container #meatza-menu .menu-container #menu-button-price .pizza-prices {
  display: -ms-grid;
  display: grid;
  text-align: right;
}

#grid-container #footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F18701;
  font-family: Helvetica;
  font-size: 1rem;
  text-shadow: 2px 2px  #b96a03;
  height: 15vh;
  cursor: pointer;
}

#grid-container #footer #links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  text-align: left;
}

#grid-container #footer a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

#grid-container #footer a:hover, #grid-container #footer a:active {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  font-size: 2rem;
}
/*# sourceMappingURL=meatzamenu.css.map */